<div class="fighter1">
    <p>{{fighter1}}</p>
<!-- <p>{{fighter1.picture}}</p> -->
</div>  
<div class="fighter2">
    <p>{{fighter2}}</p>
</div>

<!-- test alex -->
<div>
    <h2>Fighter 1</h2>
    <p>Name: {{ fighter1.name }}</p>
    <p>Health: {{ fighter1.health }}</p>
    <p>Power: {{ fighter1.power }}</p>
    <p>Defense: {{ fighter1.defense }}</p>
    <img [src]="fighter1.picture" alt="{{ fighter1.name }}">
  
    <h2>Fighter 2</h2>
    <p>Name: {{ fighter2.name }}</p>
    <p>Health: {{ fighter2.health }}</p>
    <p>Power: {{ fighter2.power }}</p>
    <p>Defense: {{ fighter2.defense }}</p>
    <img [src]="fighter2.picture" alt="{{ fighter2.name }}">
  </div>
  